body {
  background-color: rgb(255, 230, 129);
}

.App {
  text-align: center;
  font-size: larger;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.transport {
  margin: auto;
  background-color: rgb(55, 144, 245);
  width: 80%;
  border-style: double;
  border-radius: 10px;
  border-width: 5px;
  padding: 10px;
}
.container {
  margin: auto;
  width: 80%;
  background-color: rgb(137, 182, 200);
  background-blend-mode: hard-light;
  border-style: double;
  border-radius: 10px;
  border-width: 5px;
  padding: 20px;
}

.interval {
  border-style: double;
  border-width: 5px;
  border-radius: 10px;
  background-color: rgb(187, 185, 222);
}

.paused{
  font-size: medium;
  border-radius: 50px;
  padding: 30px;
  background-color: rgb(205, 197, 104);
}

.running {
  font-size: medium;
  border-radius: 50px;
  padding: 30px;
  background-color: rgb(205, 148, 104);
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
